@font-face {
    font-family: 'Poppins';
    src: url('/public/assets/fonts/Poppins-Regular.ttf') format('truetype'); /* Adjust path as needed */
    font-weight: 400; /* Regular weight */
    font-style: normal;
}