/* navbar.css */

/* The modal overlay */
.sign-up-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal content */
.sign-up-modal {
  padding: 20px;
  border-radius: 8px;
  position: relative;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* Outline button style for "Sign Up" */
.outline-button {
  background-color: white; 
  color: blue; 
  border: 2px solid blue; 
  z-index: 100;
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
}

/* Navbar styling */
.navbar {
  background-color: white; 
  overflow: hidden; 
}

#RightNav {
  display: flex; 
  align-items: center; 
  margin-left: 5%;
}

.navbar a {
  float: left; 
  display: block; 
  color: #404040;
  font-family: "Poppins";
  padding: 14px 16px;
  text-decoration: none; 
}

.navbar a:hover {
  background-color: #ddd; 
  color: #4200FF; 
}

.navbar .active {
  background-color: white; 
  color: #4200FF;
}
