
.sidebar {
    width: 250px;
    height: 100vh;
 
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 3.30909px 19.8545px -0.827273px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16.5455px);
  }
  
  .sidebar-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #ecf0f1;
  }
  
  .sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .sidebar-link {
    color: #bdc3c7;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .sidebar-link:hover {
    background-color: #34495e;
  }
  
  .active-link {
    background-color: #1abc9c;
    color: #fff;
  }
  